body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.misComponentes{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: .5rem;
}

.saludo{
  width: 100%;
  background-color: #282c34;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  transition: width 2s, height 2s, margin 2s;
}

.saludo:hover{
  width: 50%;
  height: 15rem;
  margin: 0 auto;
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: #61dafb;
}

.image{
  width: 49.5%;
  background-color: #FFE048;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1.19rem;
}

.computer{
  width: 70%;
  transition:all 0.3s ease;
}

.texto{
  width: 49.5%;
  background-color: #61dafb;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.this{
  color: azure;
  font-weight: bolder;
  font-size: 3rem;
  transition:all 0.3s ease;
}

.computer:hover, .this:hover{
  transform: scale(0.8);
}